<html xmlns="http://www.w3.org/1999/html">
    <head>
            <title>My weather App</title>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
            <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">

    </head>

    <body>
        <form >
            View forecast for city: <input type="text" name="searchcity">
                                    <input type="Submit" value="Submit">
                                    <input type="checkbox"name="remember" checked="checked">Remember </br>
        </form>


        <h1>Weather forecast for {{ city }} {{ country }}</h1>
    <table border="1">
        <tr>
            <th>Date</th><th>Min</th><th>Max</th><th>Description</th>

        </tr>

            {% for i in forecast_list %}
             <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>


            </tr>
            {% endfor %}
    </table>
    </body>
</html>