<html>
    <head>
            <title>My weather App</title>
    </head>

    <body>
        <form>
            View forecast for city: <input type="text" name="searchcity">
                                    <input type="Submit" value="Submit">
        </form>


        <h1>
            Unable to find city name {{user_input }}
        </h1>


    </body>
</html>