{% extends 'base.html' %}

{% block title %}Not Found{% endblock %}

{% block page_content %}
    <h1>Not Found</h1>

    <p><a href="{{ url_for('index') }}">Return to home page</a></p>
{% endblock %}
