{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}Weather Averages for {{ city }}{% endblock %}

{% block page_content %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Weather</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Weather Averages</h1>
        <h2>{{ city }}</h2>
        <table class="table table-hover">
            <tr>
                <th>Month</th>
                <th>Min</th>
                <th>Max</th>
                <th>Rainfall</th>
            </tr>
            {% for month in months %}
                {{ macros.weather_row(month,
                                      weather[month]['min'],
                                      weather[month]['max'], 
                                      weather[month]['rain'],
                                      highlight['min'],
                                      highlight['max'],
                                      highlight['rain']) }}
            {% endfor %}
        </table>
    </div>    
{% endblock %}
